.header {
  padding: 5px;
  background-color: black;
}

.navbar {
  display: flex;
  width: 100%;
  background-color: red;
  flex-direction: row;
}

.navbox {
  background-color: red;
  border: 2px solid black;
  border-left: 1px;
  border-top: 0px;
  color: white;
  padding: 4px;
  padding-right: 10px;
}

#nc_img {
  width: 100%;
}

#footer {
  height: fit-content;
  background-color: gray;
  margin-top: 50px;
  padding: 5px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 95%;
}
